<div class="">
    <div class="flex justify-end ">
        <button (click)="closeDialog()">
            <fa-icon [icon]="faCircleXmark" class="text-4xl"></fa-icon>
        </button>
    </div>
    <div class="border-b w-full">
        <h1 class="text-center text-3xl py-5">Login</h1>
    </div>
    <div class="mb-20 mt-5 p-10">
        <form #userForm="ngForm" ngNativeValidate (ngSubmit)="onLogin()">
            <div class="grid">
                <label for="username">Username</label>
                <input type="text" name="username" class="outline-none bg-transparent border rounded-md p-1" [(ngModel)]="username" required>
            </div>
            <div class=" grid mt-5">
                <label for="password">Password</label>
                <input type="password" name="password" class="outline-none bg-transparent border rounded-md p-1" [(ngModel)]="password" required>
            </div>
            <div class="grid place-items-center mt-10">
                <input 
                type="submit" 
                value="Submit" 
                class="bg-button-white text-black text-xl w-full py-3 font-bold rounded-md">
            </div>
        </form>
    </div>
    <div>
        <span>Don't have an account yet? <a (click)="closeDialog()" [routerLink]="['/register', role]" class="text-red-600">Sign up here!</a></span>
    </div>
</div>
