<div>
    <div class="flex justify-between mt-3">
        <label for="url">Url</label>
        <input type="text" class="ml-2 w-100 outline-none bg-transparent border rounded-md p-2" name="url"  required ngModel>
    </div>
    <div class="flex justify-between mt-3">
        <label for="width">Width</label>
        <input type="number" class="ml-2 w-100 outline-none bg-transparent border rounded-md p-2 appearance-none" name="width"  required ngModel>
    </div>
    <div class="flex justify-between mt-3">
        <label for="height">Height</label>
        <input type="number" class="ml-2 w-100 outline-none bg-transparent border rounded-md p-2 appearance-none" name="height"  required ngModel>
    </div>
</div>

